.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


*{
  font-family: 'Nunito Sans', sans-serif !important;
}

.container{
  max-width: 1280px;
}

h1,h2, h3, h4, h5, h6, p, span{
  margin: 0;
}

.location-list {
  padding-left: 145px;
  padding-top: 15px;
}